{% extends 'base_restau.html.twig' %}

{% block title %}nos Menus{% endblock %}

{% block body %}

<!-- myCSS -->
<link rel="stylesheet" href="{{ asset('ASSETS/CSS/style_menus.css') }}">

<div class="myImages mealPic mx-auto">
  <img src="{{ asset('ASSETS/IMG/menus.jpg') }}" class="myImages" alt="mon image" srcset="">
</div>

{# TITRE PAGE #}
<h1 class="text-center upperView">Nos Menus</h1>
{# arabesque #}
<div class="myImages arab1 mx-auto upperView">
  <img src="{{ asset('ASSETS/IMG/arab1.png') }}" class="myImages" alt="mon image" srcset="">
</div>

<div class="container container-sm">
  <div class="row ">

    {# LOOP ON THE DIFFERENT MENUS -------------------------------------- #}
    {% for line in lines %}

      <article class="col-12 col-lg-6 col-xl-4 text-center my-2 p-2">
        <div class="menu p-5 mx-auto h-100">
          <h2 class="mb-0 px-0 menuTitre">
              {{ line.getTitle }} {# ex: Menu du jour #}
          </h2>
          <img src="{{ asset('ASSETS/IMG/arab2.png') }}" class="arab1 mb-3" alt="" srcset="">
          <div class="">
              {{ line.getType }} {# ex: formule diner #}
          </div>
          <div>
              {{ line.getValidWhen }} {# ex: En semaine #}
          </div>
          <div class="myColor2 mt-1">
              {{ line.getDetail }} {# ex: Entrée + Plat #}
          </div>
          <div class="myColor2 mt-4 mb-2">
              {{ line.getPrice }} € {# le prix d'un menu #}
          </div>
        </div>
      </article>

    {% endfor %}
    {# /LOOP ON THE DIFFERENT MENUS ------------------------------------- #}

  </div>
</div>


<div class="my-divider my-4"></div>

<article class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-lg-6 px-5  ">
      
      <h2 class="mt-0 mb-2">
        Pour réserver...
      </h2>
      <p>      
      Tentés par nos menus ou par notre carte, pour réserver cliquez sur le bouton :
      </p>
    </div>
  </div>

  <div class="row justify-content-center ">
    <div class="col text-center py-0">        
      <!-- <a class="nav-link ps-2 pe-0 p-sm-2 mx-lg-3 myBtonBook" href="booking.php"> -->
      <a class="bton nav-link d-block p-2 myBtonBook mx-auto" href="{{ path('app_booking') }}" role="button">
        RESERVER
      </a>
    </div>
  </div>      

</article>



{% endblock %}
