{% extends 'base.html.twig' %}
{# {% extends 'base_restau.html.twig' %} #}

{% block title %}Connexion{% endblock %}

{% block body %}

{# <div class="p-2"> #}
{# </div> #}

{# <div class="d-block"></div> #}

<h1 class="text-center my-5">
    CONNECTION
</h1>

<div class="container-fluid">
    <article class="row">
        <div class="col-12 mt-3">

            <form class="container myWidth mx-auto border rounded-2" method="post" >
                <div class="row">

                    <div class="col-12">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes déjà connecté : {{ app.user.userIdentifier }},
                                {# <pre> #}
                                {# {{ dump(app.user) }} #}
                                {# </pre> #}
                                <a href="{{ path('app_logout') }}" class="nav-link"><span class="text-info"> Se déconnecter</span></a>
                            </div>
                        {% endif %}

                    </div>

                    <div class="col-12">
                        <h2 class="mb-3">Veuillez entrer vos identifiants : </h2>
                    
                        <label for="inputEmail"  class="form-label">Email :</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                
                    <div class="col-12">
                        <label for="inputPassword" class="form-label mt-3">Mot de passe :</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                    <div class="col-12 w-100">
                        <button class="btn btn-outline-info btn-lg my-4 w-100" type="submit">
                            Connexion
                        </button>
                    </div>

                </div>   
            </form>
        </div>
    </article>
</div>


<div class="container-sm myWidth mx-auto">
    <div class="row px-2">
        <div class="col">
            <a class="nav-link mx-auto my-3" href="{{ path('app_register') }}">
            Nouveau sur le site ? <span class="text-info">S'inscrire</span>
            </a>
        </div>
    </div>
</div>



{% endblock %}
