{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<h1 class="text-center my-5">
    ENREGISTREMENT
</h1>

<div class="p-2">
    <article class="container-sm myWidth mx-auto border  rounded-2">
        <div class="row">
            <div class="col mt-3">

                <h2>Vous enregistrer :</h2>

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}

                    {{ form_row(registrationForm.first_name) }}
                    {{ form_row(registrationForm.last_name) }}
                    {{ form_row(registrationForm.phone) }}

                    {{ form_row(registrationForm.comment) }}

                    {# {{ form_row(registrationForm.agreeTerms) }} #}

                    <button type="submit" class="btn btn-outline-info btn-lg my-4">s'enregistrer</button>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </article>
</div>

<div class="container-sm myWidth mx-auto">
    <div class="row px-2">
        <div class="col">
            <a class="nav-link px-2 pb-2 mx-lg-2" id="carte" href="{{ path('app_login') }}">
            Déjà enregistré ? <span class="text-info">Se connecter</span>
            </a>
        </div>
    </div>
</div>


{% endblock %}
